In [1]:
import pandas as pd

In [29]:
#Using the HNSC training set for testing purposes.
df1 = pd.read_csv(r"C:\Users\nalab\Documents\Research\Bathe\HNSC\PFI\ANATDUMMY\train_raw.csv", index_col=0)
df1.head()

,ABR,ATF7IP,AUTS2,C10orf4,C11orf10,C15orf24,C16orf61,C1orf57,CALM2,CCDC59,...,SRCAP,SSBP1,TCEB1,TOMM7,TRAPPC4,TRIB3,USP49,ZC3H4,ZNF81,ZZEF1
TCGA.4P.AA8J,2304.110,727.777,605.762,412.263,2016.330,1519.03,693.144,606.994,8550.30,466.492,...,3402.87,1628.72,1470.960,2702.82,981.051,401.171,6.1624,966.877,46.2178,881.220
TCGA.BA.4074,882.909,524.505,210.418,124.093,2592.080,2935.45,2009.330,1793.950,46039.20,2338.110,...,4088.90,2198.60,3313.510,2814.06,1023.190,981.182,6.1661,243.947,86.7109,258.591
TCGA.BA.4075,1069.810,453.437,350.529,144.178,2563.580,1784.81,1171.800,1979.360,20386.40,985.663,...,4412.70,2481.04,2211.440,3289.83,1740.850,3102.770,9.6476,229.398,47.1660,292.644
TCGA.BA.5149,1770.700,903.491,707.050,235.455,681.040,1062.63,788.713,372.348,8390.49,506.160,...,4053.05,1432.58,1458.590,1297.74,785.763,1119.780,15.0582,855.578,66.7351,955.168
TCGA.BA.5151,2278.850,2608.410,507.538,289.260,772.248,1026.02,276.542,299.400,8139.83,328.752,...,3893.00,1209.07,711.941,1299.00,548.366,739.426,12.5417,1016.680,173.7160,1848.170

In [32]:
df1_deciles = pd.DataFrame(index=df1.index) #create an empty dataframe for the decile scaled
decile_bins = pd.DataFrame() #create an empty dataframe for the bins of each column
for column in df1.columns: #this is a for loop that takes every column,
    a,b = pd.cut(df1[column], 10,labels = False, retbins = True) #scales it,
    df1_deciles[column] = a #adds scaled values to dataframe 
    decile_bins[column] = b.tolist() #adds bin values to dataframe

In [33]:
df1_deciles.head()

,ABR,ATF7IP,AUTS2,C10orf4,C11orf10,C15orf24,C16orf61,C1orf57,CALM2,CCDC59,...,SRCAP,SSBP1,TCEB1,TOMM7,TRAPPC4,TRIB3,USP49,ZC3H4,ZNF81,ZZEF1
TCGA.4P.AA8J,3,1,2,4,2,4,2,2,1,1,...,2,3,2,2,4,0,0,3,0,2
TCGA.BA.4074,0,0,0,0,3,9,9,9,9,9,...,3,5,7,2,4,1,0,0,1,0
TCGA.BA.4075,1,0,1,0,3,5,5,9,4,3,...,3,6,4,3,8,4,1,0,0,0
TCGA.BA.5149,2,1,2,2,0,2,3,1,1,1,...,3,2,2,0,3,1,2,3,1,2
TCGA.BA.5151,3,5,1,2,0,2,0,1,1,0,...,3,2,0,0,1,0,1,4,3,5

In [34]:
decile_bins.head()

,ABR,ATF7IP,AUTS2,C10orf4,C11orf10,C15orf24,C16orf61,C1orf57,CALM2,CCDC59,...,SRCAP,SSBP1,TCEB1,TOMM7,TRAPPC4,TRIB3,USP49,ZC3H4,ZNF81,ZZEF1
0,451.643373,172.446173,22.334849,81.713159,484.468115,538.300245,166.263775,79.467906,2513.26755,178.714762,...,1535.91898,499.337963,336.145475,536.291586,275.216513,60.444022,-0.066891,227.522518,11.915624,255.808511
1,1035.385700,624.605700,312.644280,156.517920,1021.473500,780.170500,352.227500,271.165310,6904.99500,396.595800,...,2264.23200,827.086700,720.907500,1341.707400,443.531700,751.110070,6.689080,416.946200,53.646420,536.839900
2,1613.348400,1072.288400,600.079360,230.582040,1553.162000,1019.646000,536.350000,460.964720,11253.24000,612.319600,...,2985.33400,1151.590400,1101.860000,2139.148800,610.180400,1434.937840,13.378160,604.494400,94.964040,815.088800
3,2191.311100,1519.971100,887.514440,304.646160,2084.850500,1259.121500,720.472500,650.764130,15601.48500,828.043400,...,3706.43600,1476.094100,1482.812500,2936.590200,776.829100,2118.765610,20.067240,792.042600,136.281660,1093.337700
4,2769.273800,1967.653800,1174.949520,378.710280,2616.539000,1498.597000,904.595000,840.563540,19949.73000,1043.767200,...,4427.53800,1800.597800,1863.765000,3734.031600,943.477800,2802.593380,26.756320,979.590800,177.599280,1371.586600

In [35]:
#Using the HNSC testing set for applying the bins
df2 = pd.read_csv(r"C:\Users\nalab\Documents\Research\Bathe\HNSC\PFI\ANATDUMMY\test_raw.csv", index_col=0)
df2.head()

,ABR,ATF7IP,AUTS2,C10orf4,C11orf10,C15orf24,C16orf61,C1orf57,CALM2,CCDC59,...,SRCAP,SSBP1,TCEB1,TOMM7,TRAPPC4,TRIB3,USP49,ZC3H4,ZNF81,ZZEF1
TCGA.BA.4077,2481.71,526.949,1016.840,135.707,954.283,1056.300,435.626,627.045,6796.44,355.149,...,4702.60,1072.180,764.678,690.568,429.740,580.366,17.3244,1227.14,75.0722,763.234
TCGA.BA.5153,4008.94,1875.740,2801.130,178.395,587.903,622.735,197.072,422.688,4588.84,329.489,...,7198.40,764.415,553.071,374.206,292.304,286.185,64.0151,1382.91,386.9150,1960.460
TCGA.BA.5556,2786.77,1845.480,825.573,113.698,755.736,818.489,223.117,437.584,4189.61,258.097,...,5926.11,1075.910,497.976,961.876,782.726,433.873,10.4588,1476.38,173.7520,2123.140
TCGA.BA.6873,3073.34,1703.440,889.031,277.423,676.020,966.199,319.292,355.867,5556.12,316.327,...,4240.43,1068.880,871.811,1047.830,461.735,179.847,17.2194,1498.72,110.3320,1648.600
TCGA.BA.7269,1418.34,722.146,276.981,453.150,3041.800,2081.600,1357.060,2051.650,7056.27,594.885,...,2081.60,1151.840,12026.000,10248.800,1952.340,2139.490,0.0000,768.06,31.9401,471.616

In [37]:
#take each column and scale it based on the bin values generated from before from each column. 
df2_deciles = pd.DataFrame(index=df2.index)
for column in df2.columns:
    a = pd.cut(df2[column], bins=decile_bins[column],labels = False)
    df2_deciles[column] = a

    df2_deciles.head()

,ABR,ATF7IP,AUTS2,C10orf4,C11orf10,C15orf24,C16orf61,C1orf57,CALM2,CCDC59,...,SRCAP,SSBP1,TCEB1,TOMM7,TRAPPC4,TRIB3,USP49,ZC3H4,ZNF81,ZZEF1
TCGA.BA.4077,3,0,3.0,0.0,0.0,2.0,1,2.0,0,0,...,4,1.0,1.0,0.0,0.0,0.0,2.0,5,1.0,1
TCGA.BA.5153,6,3,9.0,1.0,0.0,0.0,0,1.0,0,0,...,7,0.0,0.0,NaN,0.0,0.0,9.0,6,9.0,6
TCGA.BA.5556,4,3,2.0,0.0,0.0,1.0,0,1.0,0,0,...,6,1.0,0.0,0.0,3.0,0.0,1.0,6,3.0,6
TCGA.BA.6873,4,3,3.0,2.0,0.0,1.0,0,1.0,0,0,...,3,1.0,1.0,0.0,1.0,0.0,2.0,6,2.0,4
TCGA.BA.7269,1,1,0.0,5.0,4.0,6.0,6,NaN,1,1,...,0,2.0,NaN,NaN,NaN,3.0,0.0,2,0.0,0